body {
  font-family: "Lato", sans-serif;
  -webkit-font-smooting: antialiased;
  color: #232323;
}

nav li:last-child a {
  background: #FE5F1E;
}
nav li:last-child a:hover {
  background: #b23301;
}

section.hero {
  background: #F8F8F8;
}

nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #FE5F1E;
}

.size {
  background: #F8F8F8;
}

.add-to-cart {
  border: 2px solid #FE5F1E;
  color: #FE5F1E;
  transition: all 0.3s ease-in-out;
}
.add-to-cart:hover {
  background: #FE5F1E;
  border-color: #fff;
  color: #fff;
}

.btn-primary {
  transition: all 0.3s ease-in-out;
  background: #FE5F1E;
}
.btn-primary:hover {
  background: #b23301;
}

section.cart {
  background: #F8F8F8;
}
section.cart .amount {
  color: #FE5F1E;
}

section.login {
  background: #F8F8F8;
  min-height: calc(100vh - 86px);
}
section.login a {
  color: #FE5F1E;
}
section.login:hover {
  color: #b23301;
}

a.link {
  color: #FE5F1E;
}

section.status {
  background: #F8F8F8;
  min-height: calc(100vh - 86px);
}

.status-box {
  padding: 60px 0 0;
}

.status-box ul li span {
  position: relative;
  padding-left: 20px;
}

.status-box ul li span:after {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  background: #232323;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 1px 10px #F8F8F8;
}

.status-box ul li span:before {
  font-family: "Line Awesome Free";
  font-size: 46px;
  font-weight: 600;
  position: absolute;
  left: -90px;
  top: 50%;
  transform: translateY(-50%);
}

.status-box ul li {
  position: relative;
}

.status-box ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -6px;
  width: 2px;
  height: 100%;
  background: #232323;
}

.status-box ul {
  margin-left: 84px;
}

.status-box ul li:nth-child(1) span::before {
  content: "\f46c";
}

.status-box ul li:nth-child(2) span::before {
  content: "\f560";
}

.status-box ul li:nth-child(3) span::before {
  content: "\f818";
}

.status-box ul li:nth-child(4) span::before {
  content: "\f0d1";
}

.status-box ul li:nth-child(5) span::before {
  content: "\f582";
}
